
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Address Book</h2>

<div>
    <br />
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Edit/ Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sebastian</td>
                <td>Ruiz</td>
                <td>9491234567</td>
                <td>seb@mailinator.com</td>
                <td><button type="button" class="btn btn-sm btn-primary">Button</button> <button type="button" class="btn btn-sm btn-primary">Button</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td><button type="button" class="btn btn-sm btn-primary">Button</button> <button type="button" class="btn btn-sm btn-primary">Button</button></td>
            </tr>
        </tbody>
    </table> 

</div>