
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Contacts</h2>

<div class="col-md-12" ng-controller="contactsController as cntCtrl">
    <form class="form-control">
        <label ng-model="cntCtrl.person.id"></label>
        <div for="firstName">First Name:</div>
        <input type="text" class="form-control" ng-model="cntCtrl.person.firstName" />
        <br />
        <div for="lastName">Last Name:</div>
        <input type="text" class="form-control" ng-model="cntCtrl.person.lastName" />
        <br />
        <div for="phoneNumber">Phone Number:</div>
        <input type="text" class="form-control" ng-model="cntCtrl.person.phoneNumber" />
        <br />
        <div for="email">Email:</div>
        <input type="text" class="form-control" ng-model="cntCtrl.person.email" />
        <br />
        <br />
        <button type="submit" class="btn btn-default btn-info" ng-click="cntCtrl.submit()">Submit</button>
        <a class="btn btn-secondary btn-sm" href="/people/index">Back</a>
    </form>
</div>

@section Scripts {
    <script>
        (function () {
            angular.module('jarvisApp')
                .factory("$contactServiceFactory", $ContactServiceFactory);

            $ContactService.$inject = ['$http'];

            function $ContactServiceFactory($http) {

                return {
                    addPeople: _addPeople
                }

                function _addPeople(data) {
                    console.log("getting data from db...");
                    return $http.post('/api/people', data)
                        .then(addPeopleSuccess)
                        .catch(onError);
                }

                function addPeopleSuccess(response) {
                    console.log("successfully get response from addPeople");
                    return response.data;
                }

                function onError(e) {
                    console.log("ERROR!", e);
                    alert("YOU FUCKED UP!")
                }
            }

        })();

</script>    

    <script>
        (function () {
            angular.module('jarvisApp')
                .controller('contactsController', ContactsController);

            ContactsController.$inject = ['$scope', '$contactServiceFactory'];

            function ContactsController($scope, $contactServiceFactory) {
                var vm = this;

                vm.$scope = $scope;
                vm.$contactServiceFactory = $contactServiceFactory;

                vm.person = null
                vm.id = 0;

                //hoisted functions
                vm.addPerson = _addPerson;
                vm.submit = _submit;

                //-- THE FOLD --
                

                function _submit() {
                    console.log("submitting form...");
                    return vm.addPerson(vm.person)
                        .then(addPersonSuccess);
                }

                function _addPerson(data) {
                    console.log("getting all contacts...")

                    return $contactServiceFactory.addPeople(data)
                        .then(getPKId);
                }

                function getPKId(data) {
                    console.log("filling person data...")
                    vm.id = data;
                }

                function addPersonSuccess() {
                    console.log("completed render and adding person!!");
                    window.location = "/people/index";
                }
            }
        })();
    </script>
    }