
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>

<div ng-controller="tasksController as tskCtrl" ng-cloak>
    <form ng-submit="tskCtrl.addTask()">
        <input ng-model="tskCtrl.item" /> <button class="btn btn-sm btn-primary">Add</button>
    </form>
        <ul>
            <li ng-repeat="item in tskCtrl.tasks track by $index">{{item}} <a class="fa fa-pencil-square-o" aria-hidden="true" ng-click="tskCtrl.editTask()"></a><a class="fa fa-times" aria-hidden="true" ng-click="tskCtrl.deleteTask()"></a></li>
        </ul>

</div>

@section scripts {
    <script>
        (function () {
            angular.module('jarvisApp')
                .controller('tasksController', TasksController);

            TasksController.$inject = ['$scope'];

            function TasksController($scope) {
                var vm = this;

                vm.$scope = $scope;

                vm.tasks = [];
                vm.item = null;

                vm.addTask = _addTask;

                vm.getTasks = _getTasks;
                vm.editTask = _editTask;
                vm.deleteTask = _deleteTask;

                // ---THE FOLD --
                render();

                function render() {
                    console.log("rendering...")

                    return vm.getTasks();
                }

                function _addTask() {
                    vm.tasks.push(vm.item);
                }

                function _getTasks() {
                    console.log("getting tasks...")

                    vm.tasks = ["Apply for jobs"
                               , "Work on application"]
                }

                function _editTask() {
                    console.log("editing task...")
                }

                function _deleteTask() {
                    vm.tasks.splice(this.$index, 1);
                }


            }

        })();

    </script>
    
    }